#foodbox {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', 'sans-serif';
  position: absolute;
  left:0;
  top:0;
}

#foodbar p {
  text-align: right;
  color: white;
  font-size: 25px;
  margin: 15px 10px;
}

#foodbar i {
  margin-right: 15px;
  padding-left: 25px;
}

#food {
  position: relative;
  top: 140px;
  left: -565px;
  width: 150px;
  height: 210px;
  opacity: 0;
  color:white;
  -webkit-transition: width, opacity, 0.3s ease-in-out;
  transition: width, opacity, 0.3s ease-in-out;
}

#food ul {
  margin: 0;
  list-style: none;
}

#locations {
  text-decoration: none;
}

#locations li {
  position: relative;
  height: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Submenus
  ================================ */

#locations ul {
  position: absolute;
  left: -99999em;
  white-space: nowrap;
}

#locations li, ul li:not(:last-child) {
  margin-bottom: 2px;
}

#locations > li:hover > ul {
  top: 0px;
  left: 100%;
  min-width: 100%;
}

#locations > li li:hover > ul {
  left: 100%;
  top: 0px;
  text-align: left;
}

#locations p {
  margin-top: 5px;
  text-decoration:underline;
}

#locations li:hover {
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
}

#foodbar {
  display: inline-block;
  position: absolute;
  top: 75px;
  left: -90px;
  width: 150px;
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#foodbar:hover {
  left: 0px;
}
