body {
  background-color: white;
}

#food {
  position: fixed;
  width: 150px;
  height: 100%;
  background: rgba(255, 255, 255, .5);
  text-align: center;
}

#food ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#locations a {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, .9);
  padding: .8em 1.8em;
  color: #242424;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#locations {
  height: 25px;
  text-decoration: none;
}

#locations li {
  position: relative;
}

#locations > li {
  border-bottom: 4px #aaa solid;
}

/* Submenus
  ================================ */

#locations ul {
  position: absolute;
  left: -99999em;
  white-space: nowrap;
  z-index: 1;
}

#locations > li:hover > ul {
  top: -1px;
  left: 100%;
  min-width: 100%;
}

#locations > li li:hover > ul {
  left: 100%;
  margin-left: 1px;
  top: -1px;
  text-align: left;
}

#locations p {
  margin-top: 5px;
  text-decoration:underline;
}
