.search-button{
	background-color: transparent;
	background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transition: all 0.2s ease-in-out;
    	-webkit-transition: all 0.2s ease-in-out;
    		-moz-transition: all 0.2s ease-in-out;
}

.search-button:hover{
	text-shadow: 0 0 5px white
}

#searchBox{
	width: 400px;
	margin: 5px auto;
}

#searchField{
	padding:5px;
}

#search{
	border-radius: 5px;
	padding:7px;
	width:85%;
}