#weather {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  width: 450px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0,0,0,0.6);
  transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
      -moz-transition: background-color 1s ease-in-out;
}

#weather.day {
  background: linear-gradient(to bottom, rgba(0,126,244,1) 0%,rgba(112,173,224,1) 100%,rgba(135,188,234,1) 100%);
}

#weather.night {
  background: linear-gradient(to bottom, rgba(0,11,51,1) 0%,rgba(25,62,91,1) 99%);
}

#todaysWeather {
  position: relative;
  margin: 5px auto 2px auto;
  height: 55%;
  border-bottom: 2px solid white;
  width: 95%;
}

#todaysWeather p {
  color: white;
  position: absolute;
  line-height: 95%;
  font-size: 35px;
  right: 10%;
}

#todaysWeather img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 20%;
  top: 16%;
  border-radius: 50%;
  box-shadow: 0 3px 4px;
}

#todaysWeather img.day {
  background-color: rgb(95,158,160);
}

#todaysWeather img.night {
  background-color: rgb(119,136,153);
}

#detailedWeather {
  position: relative;
  margin: 10px auto;
  height: 40px;
  width: 90%;
  color: white;
}

#detailedWeather #one {
  position: absolute;
  left:0;
  height: 100%;
  width: 33%;
  padding-right: 7px;
}

#detailedWeather #two {
  position: absolute;
  margin-left: 33%;
  height: 100%;
  width: 33%;
  padding-right:5px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}

#detailedWeather #three {
  position: absolute;
  right: 0;
  height: 100%;
  width: 33%;
}

#detailedWeather #one p {
  text-align: right;
  margin-right: 8px;
}

#detailedWeather #two p {
  text-align: right;
}

#detailedWeather #three p {
  text-align: right;
}

#detailedWeather img {
  position: absolute;
  top: 0;
  left: 5px;
}

#detailedWeather #three img {
  position: absolute;
  top: 0;
  left: 13px;
}